@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  --color-primary: #ed9738;
  --color-secondary: #fbab7e;
  --color-txt-primary: #181818;
  --color-txt-light: #f3f5f8;
  --color-btn-primary: #fdfdfd;
  --color-bg-primary: #fff;
  --color-bg-gradient: linear-gradient(
    to left top,
    #ed9738,
    #bc663d,
    #803f36,
    #412225,
    #000000
  );
  --color-bg-gradient-2: linear-gradient(30deg, #fdcd3b 60%, #ffed4b 60%);
  --color-bg-gradient-3: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  --color-hr: #f3f5f8;
  --color-btn-secondary: #181818;
  --color-link-primary: var(--color-primary);
  --txt-sm: 0.75rem;
  --txt-md: 0.875rem;
  --border-radius: 0.25rem;
  --shadow-lg: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  --margin-1: 1rem;
}

*,
:after,
:before {
  box-sizing: inherit;
}

*,
:after,
:before {
  border: 0 solid #aaa;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: var(--color-txt-primary);
  background-image: var(--color-bg-gradient-2);
  font-family: Montserrat, system-ui, BlinkMacSystemFont, -apple-system,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  overflow: hidden;
}

p {
  font-size: 1.2rem;
  /* margin-top: 2rem; */
  line-height: 1.4;
  opacity: 0.8;
}

h1 {
  font-size: 3rem;
  line-height: 0.95;
  letter-spacing: -1px;
}

img {
  max-width: 100%;
}

ul,
li {
  padding: 0;
  margin: 0;
}

a {
  font-weight: 700;
  color: var(--color-link-primary);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

#left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
}

#right {
  flex: 1;
}

/** Nav tab */
.nav-tab-group {
  text-align: center;
  width: 100%;
  margin-bottom: 1vh;
  border-bottom: 1px solid var(--color-hr);
}

.nav-tab-group .highlight {
  color: var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
}

.nav-tab-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-tab-list li {
  flex: 1;
}

.nav-tab-list__item a {
  color: var(--color-txt-primary);
}

/** Sign in */
#signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-primary);
  width: 90%;
  /* max-width: 40vw; */
  padding: 2rem;
  margin: 1rem;
  box-shadow: var(--shadow-lg);
}

#signin form {
  width: 100%;
}

#signin .logo {
  margin-bottom: 3vh;
}

#signin .logo img {
  width: 300px;
}

#signin label {
  font-size: 0.875rem;
  line-height: 2;
  font-weight: 700;
}

#signin .text-input {
  margin: 0;
  width: 100%;
  font-size: 100%;
  background-color: var(--color-txt-light);
  border-radius: var(--border-radius);
  box-shadow: none;
  outline: 0;
  padding: 1rem;
  margin-bottom: 1rem;
  line-height: 1.15;
}

#signin .action-under {
  text-align: center;
  margin: 1vh;
}

#signin .primary-btn {
  width: 100%;
}

.or {
  border-bottom: 1px solid var(--color-hr);
  width: 80px;
  text-align: center;
  padding-bottom: 0.5vh;
  margin-bottom: 2vh;
}

/** Footer */
#footer {
  text-align: center;
}

/** Showcase*/
#showcase {
  /* background: url('/images/logo.jpeg') no-repeat center center / cover; */
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.showcase-text {
  color: var(--color-txt-light);
  width: 100%;
}

/** Buttons */
.primary-btn {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--color-btn-primary);
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  cursor: pointer;
  text-decoration: none;
  padding: 1rem 1.25rem;
  transition: background-color 0.3s ease;
}

/** Utility Classes */
.font-sm {
  font-size: var(--txt-sm);
}

.mb-1 {
  margin-bottom: var(--margin-1);
}

.primary-btn:hover {
  background-color: #000;
}

/** Media Queries */
/* @media (min-width: 380px) {
  #left {
    flex: 2;
  }
  #right {
    flex: 3;
  }
} */

@media (max-width: 768px) {
  body {
    overflow: auto;
  }
  #right {
    display: none;
  }
}

/* @media (min-width: 1200px) {
  #left {
    flex: 4;
  }
  #right {
    flex: 6;
  }
  h1 {
    font-size: 4rem;
  }
} */
